# Git
.git

# Node
node_modules
npm-debug.log
yarn-error.log

# Build outputs
dist
dist-web
build
*.tgz

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Test
coverage
__tests__
*.test.js
*.spec.js

# Otros
.expo
*.log
